block content
    div#container   
    each mlist in markets
        div(class="divblack") #{mlist[0].marketCatalogue.eventType.name} (#{mlist.length})
        table(class="genre-list")                
            each market in mlist
                    tr
                    td(style="width:120px")
                        if market.inPlay
                            div(class="greenblock") In-Play
                        else
                            div(class="greyblock")
                                | #{market.startTimeCustom}
                    td
                        | #{market.marketCatalogue.runners[0].runnerName}
                        br
                        | #{market.marketCatalogue.runners[1].runnerName}
                    
                    td(style="width:80px")
                        div(id=market.betpriceId0 class=market.betpriceClass0)=market.betprice0
                    td(style="width:80px")
                        div(id=market.betpriceId1 class=market.betpriceClass1)=market.betprice1                             
                    td(style="width:80px;")
                        pre(class="pre")
                            a(class="marketId" target="_blank" href='https://www.betfair.com.au/exchange/plus/' + market.eventType  + '/market/' + market.marketBook.marketId) #{market.marketBook.marketId}
                            if market.inPlay
                            if market.marketDuration > 60
                                p(class="durationgreen") #{market.marketDuration} mins
                            else
                                p(class="durationred") #{market.marketDuration} mins


